<div class="container">
    <form class="form new-clothes-form">
    <div class="form-group">
    <label for="type">Clothing type:</label>
    <select class="form-control" id="type" name="type">
      <option>Shirt</option>
      <option>Sweater</option>
      <option>Pants</option>
      <option>Shorts</option>
      <option>Dress</option>
    </select>
    </div>
    <div class="form-group">
    <label for="brand">Brand:</label>
    <input class="form-input" type="text" id="brand" name="brand"/>
    </div>
    <div class="form-group">
    <label for="date-purchased">Date purchased:</label>
    <input class="form-input" type="text" id="date-purchased" name="date-purchased"/>
    </div>
    <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-input" id="description" name="description"></textarea>
    </div>
    <div class="form-group">
    <label for="filename">Image:</label>
    <input class="form-input" type="text" id="filename" name="filename"/>
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-primary">Create</button>
    </div>
    </form>
</div>

<script src="./js/profile.js"></script>